* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/*Navigation*/
nav {
  height: 80px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(163, 112, 16);
  display: flex;
  margin: 0 auto;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0 auto;
}

nav img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

nav a {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

nav i {
  font-size: 3.5rem;
}

.burgerMenuOpen,
.burgerMenuClose {
  display: none;
}

/*Responsive*/
@media screen and (max-width: 768px) {
  .nav-links {
    position: relative;
    max-width: 100%;
    height: 100px;
    background-color: rgb(132, 91, 16);
    align-items: center;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    top: 80px;
    gap: 10px;
  }

  .nav-links.active {
    display: flex;
    position: absolute;
    width: 100%;
    height: auto;
    padding: 20px 0 20px 0;
  }

  .burgerMenuOpen {
    display: block;
    margin-right: 20px;
  }

  .burgerMenuOpen.active {
    display: none;
  }

  .burgerMenuClose {
    display: none;
    margin-right: 20px;
  }

  .burgerMenuClose.active {
    display: block;
  }

  nav img {
    margin-right: auto;
    margin-left: 20px;
  }
}
